$fontBase: 'AnakinmonoRegular', sans-serif;
$fontAccent: 'StarJedi', sans-serif;
$fontAccentHollow: 'StarJediHollow', sans-serif;

//colors
$colorPrimary: #a2a2a2;
$colorPrimaryHover: brightness($colorPrimary, 0.9);
$colorPrimaryActive: #a5a5a5;
$colorSecondary: #333333;
$colorSecondaryOpacity: transparentize($colorSecondary, 0.9);
$colorDisabled: #ebebeb;
$colorBlack: #000000;
$colorBlackOpacity:transparentize($colorBlack, 0.8);
$colorWhite: #ffffff;
$colorWhiteOpacity:transparentize($colorWhite, 0.9);
$colorGray50: #f8f8f8;
$colorGray100: #f1f1f1;
$colorGray400: #606060;
$colorGray500: #5f5f5f;

$colorCaption: transparentize(#333333, 0.6);
$colorParagraph: #707070;
$colorWarning: #ffda45;
$colorError: #ff0007;
$colorAlto: #dbdbdb;
$colorCuriousBlue: #1c8adb;

$colorBg: $colorWhite;

//gradients
$silverGradient: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
$goldenGradient: linear-gradient(#462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);

//shadows
$shadow: 0px 0px 20px transparentize(#333333, 0.92);
//$shadow: 0px 0px 20px transparentize(red, 0.2);
$shadowHover: 0px 5px 20px transparentize(#333333, 0.85);

//header heights
$headerHeight: 140px;
$headerHeightTablet: 72px;
$headerHeightMobile: 64px;

//indents
$indent4: 4px;
$indent5: 5px;
$indent8: 8px;
$indent10: 10px;
$indent12: 12px;
$indent14: 14px;
$indent15: 15px;
$indent16: 16px;
$indent17: 17px;
$indent20: 20px;
$indent24: 24px;
$indent25: 25px;
$indent26: 26px;
$indent30: 30px;
$indent32: 32px;
$indent34: 34px;
$indent38: 38px;
$indent40: 40px;
$indent48: 48px;
$indent50: 50px;
$indent51: 51px;
$indent60: 60px;
$indent70: 70px;
$indent80: 80px;
$indent90: 90px;
$indent100: 100px;
$indent120: 120px;
$indent200: 200px;

$sectionIndent:$indent40;
$sectionIndentMobile: $indent30;

//border-radius
$borderRadius2: 2px;
$borderRadius4: 4px;
$borderRadius10: 10px;
$borderRadius12: 12px;
$round: 50%;
